{% extends 'preview/base.html' %}
{% block content %}
<div id='content' >
    <main class='shadow'>
        <h1>{{ unit.unit_name }} Unit Details</h1>
        <hr class="bar">

        <p>{{ unit.unit_blurb }}</p>
        <P>The {{ unit.unit_name }} unit will help students learn many important topics for {{ course }} including:</P>
        <ul class='concept-list'>{% for concept in unit.concepts.all %}
            <li>{{ concept.goal }}</li>{% endfor %}
        </ul>
        
        <h2>Gain access to every unit in {{ course }}, including {{ unit.unit_name }}, for only {{ course.price }}!</h2>
        <form action='/create-checkout-session/{{ course.pk }}' method="POST">
            <button type=submit class="card-button" id='checkout-button'>Buy Now</button>
        </form>

    </main>

</div>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}