{% extends 'preview/base.html' %}
{% load static %}
{% block content %}

<div id="content">
    <main>
        <form method="post">
            {% csrf_token %}
            <fieldset class='glass'>
                <legend>Reset Password</legend>
                {{ form.new_password1.label_tag}}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}

                {{ form.new_password2.label_tag}}
                {{ form.new_password2 }}
                {{ form.new_password1.help_text }}
                <div>
                    <button type="submit">Reset Password</button>
                </div>
            </fieldset>
        </form>
    </main>
</div>

{% endblock %}